<f:layout name="Default" />

<f:section name="content">
	<f:link.action action="index" class="textIcon cancel" title="{f:translate(key: 'cancel')}"><f:translate key="cancel">[cancel]</f:translate></f:link.action>
	<h1><f:translate key="blog.editHeader" arguments="{0: blog.title}">[edit blog]</f:translate></h1>
	<p><f:translate key="blog.editIntroduction">[edit blog below]</f:translate></p>
	<f:render partial="BlogForm" arguments="{object: blog, objectName: 'blog', action: 'update', administrators: administrators}" />
</f:section>
