<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="iconButtons">
    <be:moduleLayout.button.linkButton
        icon="actions-close"
        title="Cancel"
        link="{f:uri.action(action:'index', arguments: {post : post, blog: post.blog})}"
    />
    <be:moduleLayout.button.linkButton
        icon="actions-save-close"
        title="Save"
        link="javascript: document.post.submit();"
    />
    <be:moduleLayout.button.linkButton
        icon="actions-delete"
        title="Delete this post"
        link="{f:uri.action(action: 'delete', arguments: {post : post, blog: post.blog})}" />
</f:section>

<f:section name="content">
    <h2>Edit post "{post.title}"</h2>
    <f:render partial="FormErrors" arguments="{for: 'post'}" />
    <f:form method="post" controller="Post" action="update" name="post" object="{post}" arguments="{blog : blog}">
        <label for="author">Author</label><br />
        <f:form.select value="{post.author.uid}" name="author" options="{authors}" optionLabelField="fullName"><select>
            <option>dummy</option>
        </select></f:form.select>
        <br />
        <label for="title">Title</label><br />
        <f:form.textfield property="title" />
        <br />
        <label for="content">Content</label><br />
        <f:form.textarea property="content" rows="8" cols="46" />
        <br /><br />
    </f:form>
    <div class="tx-blogexample-comment-list">
        <h3>Comments</h3>
        <f:if condition="{post.comments}">
            <f:then>
                <f:for each="{post.comments}" as="comment">
                    <div class="tx-blogexample-comment">
                        <div class="tx-blogexample-comment-info">
                            <span class="tx-blogexample-comment-author">
                                <a href="mailto:{comment.email}">{comment.author}</a> posted on
                                <span class="tx-blogexample-date"><f:format.date>{comment.date}</f:format.date></span>
                            </span>
                        </div>
                        <div class="tx-blogexample-comment-text">
                            <f:format.nl2br>{comment.content}</f:format.nl2br>
                            <f:link.action action="delete" controller="Comment" arguments="{post: post, comment: comment}" class="btn btn-default">
                                <core:icon identifier="actions-delete" />
                                Delete Comment
                            </f:link.action>
                        </div>
                        <hr class="clear" />
                    </div>
                </f:for>
                <p>&nbsp;</p>
                <p>
                    <f:link.action action="deleteAll" controller="Comment" arguments="{post: post}" class="btn btn-default">
                        <core:icon identifier="actions-delete" />
                        Delete all Comments of this post
                    </f:link.action>
                </p>
            </f:then>
            <f:else>
                <p><em>There are no comments for this post.</em></p>
            </f:else>
        </f:if>
    </div>
</f:section>
</html>
