<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="iconButtons">
    <be:moduleLayout.button.linkButton
        icon="actions-close"
        title="Cancel"
        link="{f:uri.action(action:'index')}"
    />
    <be:moduleLayout.button.linkButton
        icon="actions-save-close"
        title="Save"
        link="javascript: document.newPost.submit();"
    />
</f:section>

<f:section name="content">
    <h2>Create a new Post for Blog &quot;{blog.title}&quot;</h2>
    <f:render partial="FormErrors" arguments="{for: 'newPost'}" />
    <f:form method="post" controller="Post" action="create" name="newPost" object="{newPost}" arguments="{blog : blog}">
        <label for="author">Author <span class="required">(required)</span></label><br />
        <f:form.select property="author" options="{authors}" optionLabelField="fullName"><select>
            <option>dummy</option>
        </select></f:form.select>
        <br />
        <label for="title">Title <span class="required">(required)</span></label><br />
        <f:form.textfield property="title" />
        <br />
        <label for="content">Content <span class="required">(required)</span></label><br />
        <f:form.textarea property="content" rows="8" cols="46" />
        <br /><br />
    </f:form>
</f:section>
</html>
