<?xml version="1.0" encoding="utf-8"?>
<html xmlns:content="http://purl.org/rss/1.0/modules/content/"
      xmlns:atom="http://www.w3.org/2005/Atom"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<rss version="2.0"
     xmlns:content="http://purl.org/rss/1.0/modules/content/"
     xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{settings.rss.channel.title}</title>
        <link>{settings.rss.channel.link}</link>
        <pubDate><f:format.date format="r" date="now" /></pubDate>
        <lastBuildDate><f:format.date format="r" date="now" /></lastBuildDate>
        <atom:link href="{f:uri.page(pageType: settings.rss.channel.typeNum, absolute: 'true')}" rel="self" type="application/rss+xml" />
        <f:if condition="{blog}">
            <f:for each="{blog.posts}" as="post">
                <item>
                    <guid isPermaLink="false">news-{post.uid}</guid>
                    <pubDate><f:format.date format="r">{post.datetime}</f:format.date></pubDate>
                    <title>{post.title -> f:format.htmlspecialchars()}</title>
                    <link><f:format.htmlentities><f:uri.action extensionName="blog_example" controller="Post" action="show" pageType="1" arguments="{post: post}"/></f:format.htmlentities></link>
                    <description>{post.teaser -> f:format.stripTags() -> f:format.htmlspecialchars()}</description>
                    <content:encoded><f:format.cdata><f:format.html>{post.bodytext}</f:format.html></f:format.cdata></content:encoded>
                    <f:if condition="{post.categories}">
                        <f:for each="{post.categories}" as="postCategory">
                            <category>{postCategory.title -> f:format.htmlspecialchars()}</category>
                        </f:for>
                    </f:if>
                </item>
            </f:for>
        </f:if>
    </channel>
</rss>
</html>
