<f:render partial="FormErrors" />
<f:form action="{action}" controller="Blog" objectName="{objectName}" object="{object}" method="post">
	<dl>
		<dt>
			<label for="tx-blogexample-title"><f:translate key="property.title">[title]</f:translate>:</label>
		</dt>
		<dd>
			<f:form.textfield property="title" id="tx-blogexample-title"><input type="text" id="tx-blogexample-title" /></f:form.textfield>
		</dd>
		<dt>
			<label for="tx-blogexample-description"><f:translate key="property.description">[description]</f:translate>:</label>
		</dt>
		<dd>
			<f:form.textarea property="description" id="tx-blogexample-description" rows="8" cols="46"><textarea id="tx-blogexample-description" rows="8" cols="46" /></f:form.textarea>
		</dd>
		<dt>
			<label for="tx-blogexample-administrator"><f:translate key="property.administrator">[administrator]</f:translate>:</label>
		</dt>
		<dd>
			<f:form.select property="administrator" id="tx-blogexample-administrator" value="{blog.administrator}" options="{administrators}" optionLabelField="name"><select id="tx-blogexample-administrator"><option>dummy</option></select></f:form.select>
		</dd>
		<dd>
			<f:form.submit class="button" value="{f:translate(key: 'submit', default: '[submit]')}"><input class="button" type="submit" name="" value="Submit" /></f:form.submit>
		</dd>
	</dl>
</f:form>