<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<nav aria-label="Page navigation">
    <ul class="pagination">

        <!-- First / Previous -->
        <f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
            <f:then>
                <li class="page-item">
                    <a class="page-link"
                       href="{f:uri.action(action: actionName, arguments: {currentPage: 1, blog: blog})}"
                       aria-label="{f:translate(key:'pagination.first')}">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       href="{f:uri.action(action: actionName, arguments: {currentPage: pagination.previousPageNumber, blog: blog})}"
                       aria-label="{f:translate(key:'pagination.previous')}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            </f:then>
            <f:else>
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&laquo;&laquo;</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&laquo;</span>
                </li>
            </f:else>
        </f:if>

        <!-- Page numbers -->
        <f:for each="{pages}" as="page">
            <f:if condition="{page} == {paginator.currentPageNumber}">
                <f:then>
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">
                            {page}
                        </span>
                    </li>
                </f:then>
                <f:else>
                    <li class="page-item">
                        <a class="page-link"
                           href="{f:uri.action(action: actionName, arguments: {currentPage: page, blog: blog})}">
                            {page}
                        </a>
                    </li>
                </f:else>
            </f:if>
        </f:for>

        <!-- Next / Last -->
        <f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
            <f:then>
                <li class="page-item">
                    <a class="page-link"
                       href="{f:uri.action(action: actionName, arguments: {currentPage: pagination.nextPageNumber, blog: blog})}"
                       aria-label="{f:translate(key:'pagination.next')}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       href="{f:uri.action(action: actionName, arguments: {currentPage: pagination.lastPageNumber, blog: blog})}"
                       aria-label="{f:translate(key:'pagination.last')}">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            </f:then>
            <f:else>
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&raquo;</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&raquo;&raquo;</span>
                </li>
            </f:else>
        </f:if>

    </ul>
</nav>

</html>
