/* Tags */

.tx-blogexample h1, .tx-blogexample h2, .tx-blogexample h3 {
	margin: 10px 0 10px 0;
	padding: 0;
	clear: both;
	font-size: 17px;
	font-weight: bold;
}
.tx-blogexample h2 {
	font-size: 16px;
}
.tx-blogexample h3 {
	margin: 15px 0;
	font-size: 14px;
}
.tx-blogexample ul, .tx-blogexample ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tx-blogexample ul li, .tx-blogexample ol li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tx-blogexample strong {
	font-weight: bold;
}

/* Classes */

.tx-blogexample .tx-blogexample-blog-list h3, .tx-blogexample .tx-blogexample-post-list h3 {
	margin: 10px 0 0 0;
	float: left;
}
.tx-blogexample .tx-blogexample-description, .tx-blogexample .tx-blogexample-content {
	margin: 0 0 15px 0;
	clear: both;
}

.tx-blogexample .tx-blogexample-options {
	margin: 10px 0 0 5px;
	float: left;
	clear: right;
}

.tx-blogexample .tx-blogexample-linksection {
	margin: 20px 0;
	padding: 3px;
	background: #f5f5f5;
	border: 1px solid #e0e0e0;
	height: 16px;
}

.tx-blogexample .tx-blogexample-metadata {
	font-size: 0.8em;
	color: #777;
}

.tx-blogexample .tx-blogexample-tags {
	margin: 5px 0;
}
.tx-blogexample .tx-blogexample-tags li {
	display: inline;
}

.tx-blogexample .tx-blogexample-comments {
	padding-top: 20px;
	clear: left;
}
.tx-blogexample .tx-blogexample-comments li {
	margin: 10px 0;
}
.tx-blogexample .tx-blogexample-comments p {
	font-size: .9em;
}
.tx-blogexample .tx-blogexample-comments .tx-blogexample-options {
	float: none;
	display: inline;
}

.tx-blogexample .tx-blogexample-gravatar {
	margin: 2px 5px 5px 0;
	float: left;
}

/* Icons */

.tx-blogexample .tag {
	margin: 0 2px 0 0;
	padding: 2px 3px 2px 21px;
	background: #c0e6ff url('../Icons/icon_tx_blogexample_domain_model_tag.gif') 1px 1px no-repeat;
	border: 1px solid #96acbb;
	font-size: 0.7em;
	text-decoration: none;
	text-transform: uppercase;
}
.tx-blogexample a.tag:hover {
	background-color: #d8f0ff;
	border-color: #a6bfcf;
}

.tx-blogexample .icon, .tx-blogexample .textIcon {
	display: block;
	margin: 0 5px 0 0;
	padding: 0;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.tx-blogexample .icon {
	float: left;
	text-indent: -9999px;
	width: 16px;
	height: 16px;
}
.tx-blogexample .textIcon {
	padding-left: 18px;
}
.tx-blogexample .icon.edit, .tx-blogexample .textIcon.edit {
	background-image: url('../Icons/icon_edit.gif');
}
.tx-blogexample .icon.delete, .tx-blogexample .textIcon.delete {
	background-image: url('../Icons/icon_delete.gif');
}
.tx-blogexample .icon.new, .tx-blogexample .textIcon.new {
	background-image: url('../Icons/icon_new.gif');
}
.tx-blogexample .icon.populate, .tx-blogexample .textIcon.populate {
	background-image: url('../Icons/icon_populate.gif');
}
.tx-blogexample .icon.cancel, .tx-blogexample .textIcon.cancel {
	background-image: url('../Icons/icon_close.gif');
}
.tx-blogexample .icon.plaintext, .tx-blogexample .textIcon.plaintext {
	background-image: url('../Icons/icon_plaintext.gif');
}

/* Flashmessages */

.tx-blogexample .typo3-message {
	margin: 1em 0;
	background-position: 0.5em 0.7em;
	background-repeat: no-repeat;
	border: 1px solid;
	color: #000000;
	padding: 0.6em 0.6em 0.6em 2.6em;
}
.tx-blogexample .typo3-message a {
	text-decoration: underline;
}

.tx-blogexample .typo3-message .message-header {
	font-weight: bold;
}
.tx-blogexample .typo3-message h4 {
	margin-top: 0;
}
.tx-blogexample .message-notice {
	background-color: #F6F7FA;
	background-image: url('../Icons/FlashMessages/notice.png');
	border-color: #C2CBCF;
}
.tx-blogexample .message-information {
	background-color: #DDEEF9;
	background-image: url('../Icons/FlashMessages/information.png');
	border-color: #8AAFC4;
}
.tx-blogexample .message-ok {
	background-color: #CDEACA;
	background-image: url('../Icons/FlashMessages/ok.png');
	border-color: #58B548;
}
.tx-blogexample .message-warning {
	background-color: #FBFFB3;
	background-image: url('../Icons/FlashMessages/warning.png');
	border-color: #C4B70D;
}
.tx-blogexample .message-error {
	background-color: #FBB19B;
	background-image: url('../Icons/FlashMessages/error.png');
	border-color: #DC4C42;
}
.tx-blogexample input.f3-form-error, .tx-blogexample textarea.f3-form-error {
	background-color: #FBB19B;
	border: 1px #DC4C42 solid;
}



/* Errors */

.tx-blogexample .errors {
	margin: 10px 0;
	padding: 10px;
	background-color: #FBB19B;
	border: 1px #DC4C42 solid;
}


/* Pagination */

.tx-blogexample .f3-widget-paginator {
	margin: 20px 0;
	padding: 0;
}
.tx-blogexample .f3-widget-paginator li {
	margin: 0;
	padding: 0;
	display: inline;
}
.tx-blogexample .f3-widget-paginator li a {
	padding: 2px 4px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	color: #303030;
	text-decoration: none;
}
.tx-blogexample .f3-widget-paginator li.current {
	padding: 2px 4px;
	color: #303030;
}
.tx-blogexample .f3-widget-paginator li a:hover, .tx-blogexample .f3-widget-paginator li a:active {
	background-color: #ffffff;
	color: #303030;
}
.tx-blogexample .f3-widget-paginator li.next a {
	padding-right: 15px;
	background: transparent url('../Icons/icon_next.gif') right 2px no-repeat;
}
.tx-blogexample .f3-widget-paginator li.previous a {
	padding-left: 15px;
	background: transparent url('../Icons/icon_previous.gif') 0 2px no-repeat;
}

